name: Build Fabric Mod

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Fix gradlew
        run: |
          tr -d '\r' < gradlew > gradlew.tmp
          mv gradlew.tmp gradlew
          chmod +x gradlew
          
          # Update gradle version in wrapper properties
          sed -i 's/gradle-.*-bin.zip/gradle-8.11-bin.zip/' gradle/wrapper/gradle-wrapper.properties

      - name: Build mod
        run: ./gradlew build

      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: Fabric-Mod-JAR
          path: build/libs/*.jar
