name: Build Cinematic Mod
on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Fix gradlew
      run: |
        sed -i 's/\r$//' gradlew
        chmod +x gradlew
    
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    
    - name: Build
      run: ./gradlew build
    
    - uses: actions/upload-artifact@v4
      with:
        name: CinematicMod
        path: build/libs/*.jar
